{{template "header.html" .User }}

<section>
    <h4>Files
        <button class="button button-primary u-pull-right" onclick="document.getElementById('upload-input').click()">Upload</button>
        {{/* The default styling of a file upload input is ugly, so we hide it and use the HREF above to trigger it.
             When the value of the input changes, the form will be submitted.
             This works well, but browsers will try to "help" by inserting the previous value in this form when the user hits the back button.
             To prevent the form from submitting on the back button, we set the autocomplete to off. */}}
             <form id="upload-form" method="POST" action="/groups/{{ .Group.Name }}/files/upload" enctype="multipart/form-data" style="display: none">
            <input id="upload-input" name="file" type="file" multiple autocomplete="off" onchange="this.parentElement.submit()">
            {{ .CSRFField }}
        </form>
    </h4>
    {{ template "flash_messages.html" . }}
    <table class="u-full-width">
        <thead>
            <tr>
                <th class="l-align">Name</th>
                <th class="r-align hide-on-mobile">Size</th>
                <th class="l-align hide-on-mobile">Created</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Files }}
                <tr>
                     <td>{{ .Name | html }}</td>
                     <td>{{ .FileSize }}</td>
                     <td alt="{{ .CreatedAt }}">{{ .CreatedAt | FormatTimeAsRFC822 }}</td>
                </tr>
            {{ else }}
                <tr>
                    <td>&ndash;</td>
                    <td>&ndash;</td>
                    <td>&ndash;</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</section>

{{template "footer.html"}}
