{{template "header.html" .RequestingUser }}

{{$RequestedUser := .RequestedUser }}
{{$RequestedUserUsername := .RequestedUser.Username | html}}
<section>
    <h4>User Details</h4>
    {{ template "flash_messages.html" . }}
    <table class="u-full-width">
        <tbody>
            <tr>
                <th>Username</th>
                <td colspan="2">{{ $RequestedUserUsername }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ .RequestedUser.FirstName | html }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ .RequestedUser.LastName | html }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ .RequestedUser.Email | html }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Password</th>
                <td>&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;</td>
                <td><a href="/users/{{ .RequestedUser.Username }}/password">Change</a></td>
            </tr>
            {{ if .RequestingUser.IsAdmin }}
                <tr>
                    <th>Status</th>
                    {{ with .RequestedUser }}
                        {{- if .Disabled -}}
                            <td>Logins Disabled</td>
                            <td><a href="/users/{{ .Username }}/enable">Enable</a></td>
                        {{- else -}}
                            <td>Logins Enabled</td>
                            <td><a href="/users/{{ .Username }}/disable">Disable</a></td>
                        {{- end -}}
                    {{ end }}
                </tr>
                <tr>
                    <th>Last Login</th>
                    <td colspan="2">{{ HumanizeTime .RequestedUser.LastLogin }}</td>
                </tr>
            {{ end }}
            <tr>
                <th>Groups</th>
                <td colspan="2">
                    <ul class="plain">
                        {{ range .GroupMembership }}
                            <li>
                                {{- if $RequestedUser.IsAdmin }}
                                    {{- if .Member -}}
                                        <a href="/users/{{ $RequestedUserUsername }}/groups/{{ .Name }}/remove" class="plain">&#128505</a>
                                    {{- else -}}
                                        <a href="/users/{{ $RequestedUserUsername }}/groups/{{ .Name }}/add" class="plain">&#9744</a>
                                    {{- end }}
                                {{- else -}}
                                    {{- if .Member -}}
                                        &#128505
                                    {{- else -}}
                                        &#9744
                                    {{- end }}
                                {{- end }}
                                {{ .Name -}}
                            </li>
                        {{ else }}
                            No Groups Exist
                        {{ end }}
                    </ul>
                </td>
            </tr>
            {{ if .RequestingUser.IsAdmin }}
                <tr>
                    <th>Unix User ID</th>
                    <td colspan="2">{{ .RequestedUser.UnixUserID }}</td>
                </tr>
                <tr>
                    <th>Unix Group ID</th>
                    <td colspan="2">{{ .RequestedUser.UnixGroupID }}</td>
                </tr>
                <tr>
                    <th>Unix Home</th>
                    <td colspan="2">{{ .RequestedUser.HomeDirectory | html }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>

</section>

{{template "footer.html"}}
