{{template "header.html" .RequestingUser }}

<section>
    <form method="post">
        <h4>Change Password</h4>
        {{ template "flash_messages.html" . }}
        <div >
            <label for="UsernameInput">Username</label>
            <input id="UsernameInput" name="Username" readonly 
                type="text" value="{{ .RequestedUser.Username }}" class="u-full-width">
        </div>
        <div >
            <label for="NewPasswordInput">New Password</label>
            <div style="margin-left: 2rem;"> 
                {{/* Show HTML bullets at first, and replace with pass/fail indicators IF they support JavaScript. */}}
                <div><span id="passwordLengthIndicator">&bull;</span> Must be {{.PasswordMinLength}}-{{.PasswordMaxLength}} characters long</div>
                <div><span id="passwordNameIndicator">&#8226;</span> Cannot contain your first or last name</div>
                <div><span id="passwordUsernameIndicator">&#8226;</span> Cannot contain your username</div>
            </div>
            <input id="NewPasswordInput" name="NewPassword" 
                type="password" value="" class="u-full-width"
                required minlength="{{.PasswordMinLength}}" >
        </div>
        {{ .CSRFField }}
        <input class="button-primary u-full-width" type="submit" 
            value="Change Password">
    </form>
</section>

<script>
    {{/* Script to indicate which of our password rules they are violating and 
         passing on the client-side. This is mean to be a graceful improvement
         and should NOT prevent them from using this page if they have JS turned
         off!
     */}}
    const redX = '<span class="oi red" data-glyph="circle-x"></span>';
    const checkMark = '<span class="oi green" data-glyph="circle-check"></span>'; 
    {{/* Convert to lowercase here ignore case in our comparisons and to avoid 
         JS function calls.
     */}}
    const username = "{{ .RequestedUser.Username | ToLower }}";
    const firstName = "{{ .RequestedUser.FirstName | ToLower }}"; 
    const lastName = "{{ .RequestedUser.LastName | ToLower }}"; 
    const getId = function(id){ 
        return document.getElementById(id); 
    };

    // Get the Password input element and add our key press event listener
    var pwInput = getId("NewPasswordInput");
    pwInput.addEventListener("keyup", function CheckPassword(event) {
        var password = event.target.value;

        // 1. Check password length
        var length = password.length;
        var indicatorLength = ""; // HTML to show at end of rule being met or broken
        var indicatorName = "";
        var indicatorUsername = "";
        if(length < 10 ){ // Too short
            indicatorLength = redX;
        }else if(length > 64){ // Too long
            indicatorLength = redX;
        }else{ // Meets length requirements
            indicatorLength = checkMark;
        }
        // Update the page's indicator 
        getId("passwordLengthIndicator").innerHTML = indicatorLength;

        // 2. Check password for first name, last name, and username 
        var passwordTest = password.toLowerCase();
        if (passwordTest.includes(firstName)) {
            indicatorName = redX;
        } else if (passwordTest.includes(lastName)) {
            indicatorName = redX;
        } else {
            indicatorName = checkMark;
        }
        if (passwordTest.includes(username)) {
            indicatorUsername = redX;
        } else {
            indicatorUsername = checkMark;
        }
        // Update the page's indicator 
        getId("passwordNameIndicator").innerHTML = indicatorName;
        getId("passwordUsernameIndicator").innerHTML = indicatorUsername;
    });
</script>

{{template "footer.html"}}
