{{template "header.html" .RequestingUser }}

{{$RequestedUserUsername := .RequestedUser.Username | html}}

<section>
    <h4>User Groups</h4>
    {{ template "flash_messages.html" . }}
    <table class="u-full-width">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ $RequestedUserUsername }}</td>
            </tr>        
            <tr>
                <th>Groups</th>
                <td>
                    <ul class="plain">
                        {{ range .GroupMembership }}
                            <li>
                                {{- if .Member -}}
                                    <a href="/users/{{ $RequestedUserUsername }}/groups/{{ .Name }}/remove" class="plain">&#128505</a> 
                                {{- else -}} 
                                    <a href="/users/{{ $RequestedUserUsername }}/groups/{{ .Name }}/add" class="plain">&#9744</a>
                                {{- end }} 
                                {{ .Name -}}
                            </li>
                        {{ else }}
                            No Groups Exist
                        {{ end }}
                    </ul>
                </td>
            </tr> 
        </tbody>
    </table>
</section>

{{template "footer.html"}}
