{{template "header.html" .RequestingUser }}

{{$RequestedUserUsername := .RequestedUser.Username | html}}

<section>
    <h4>User Groups</h4>
    {{ template "flash_messages.html" . }}
    <table class="u-full-width">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ $RequestedUserUsername }}</td>
            </tr>        
            <tr>
                <th>Groups</th>
                <td>
                    <ul class="plain">
                        {{ range .GroupMembership }}
                            <li>
                                {{- if .Member -}}
                                    <form action="/users/{{ $RequestedUserUsername }}/groups/{{ .Name }}/remove" method="post" class="inline">
                                        <button type="submit" class="button-link plain" title="Remove from {{ .Name }}"
                                            aria-label="Remove from {{ .Name }}">&#128505;</button>
                                    </form>
                                {{- else -}}
                                    <form action="/users/{{ $RequestedUserUsername }}/groups/{{ .Name }}/add" method="post" class="inline">
                                        <button type="submit" class="button-link plain" title="Add to {{ .Name }}"
                                            aria-label="Add to {{ .Name }}">&#9744;</button>
                                    </form>
                                {{- end }}
                                {{ .Name -}}
                            </li>
                        {{ else }}
                            No Groups Exist
                        {{ end }}
                    </ul>
                </td>
            </tr> 
        </tbody>
    </table>
</section>

{{template "footer.html"}}
